.don{
    padding: 70px;
   
}
.des{
    color: #5f645e;
    font-weight: 300;
    font-style: italic;
    margin: 10px;
}
.qu{
    color: #5f645e;
}

.var{
margin: 10px;
}
.ds{
    padding: 50px;
}
.qub{
    color: #5f645e;
    font-weight: 300;
    margin-right: 10px;
}
.vari{
    margin-right: 5px;
}