.nauth{
    margin: 50px; 
}
.dark{
    background-color: #5f645e;
    color: black;
}

.photo{
    width: 130px;
    height: 130px;
    border-radius: 65px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.fname{
    color: #a3b09d;
}
.lname{
    color: #a3b09d;
    font-weight: 550;
    margin-left: 5px;
}
.hor {
    width: 90%;
    height: 1px;
    background-color: #a3b09d;
    margin-top: 20px;
    margin-bottom: 20px;
}
.con{
    text-align: start;
    padding: 50px;
}
.contacts {
    font-weight: 500;
}
.citem {
    font-weight: 300;
}
.cicon {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    margin-right: 10px;
}
.d{
    margin-bottom: 4px;
}
.light{
    padding: 70px;
    text-align: start;
}
.tit{
    color:  #a3b09d;
}
.about{
    font-weight: 300;
    font-style: italic;
    margin: 20px;
}
.ic{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.techno{
    font-weight: 300;
    font-style: italic;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid  #5f645e;
    padding: 5px;
}

.empty{
    padding: 100px;
 }
.fore{
   background-color: #eceae6;
   padding: 50px;
   border-radius: 20px;
   box-shadow: 0px 0px 2px 2px #eceae6;
}
.in-big{
    border-radius: 10px;
    height: 35px;
    width: 200px;
    padding: 7px;
    color: black;
    margin: 20px;
    background-color: white;
    border: 0;
}

.in-small{
    border-radius: 10px;
    height: 35px;
    width: 150px;
    padding: 7px;
    color: black;
    margin: 10px;
    background-color: white;
    border: 0;
}
textarea{
    border-radius: 10px;
    height: 100px;
    width:80%;
    padding: 10px;
    color: black;
    margin: 20px;
    background-color: white;
    border: 0;
}
.redd{color: tomato;}
.dc {text-align: start;}
.big{
    border-radius: 10px;
    height: 30px;
    width: 100px;
    padding: 5px;
    color: black;
    margin: 10px;
    background-color: white;
    border: 0;
}
.bigc{
    border-radius: 10px;
    height: 80px;
    width: 250px;
    padding: 5px;
    color: black;
    margin: 10px;
    background-color: white;
    border: 0;
}
.buttonZ{
    background-color: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px;
    margin: 10px;
}

.lix{
    color: black;
}